body { 
    background-color: aquamarine;
    color: black;

}
a{
    text-decoration:none;
    color:aquamarine;
    background-color:black;
    padding: 10px;
    border-radius: 10px;
    border:3px solid black;
}
.btn-aceptar:hover{
    background-color: rgba(128, 255, 0, 0.648);
} 
.btn-rechazar:hover{
    background-color: rgba(255, 0, 0, 0.638);
}
.btn-rechazar{
    background-color: red;
    color: aliceblue;

}
.btn-aceptar{
    background-color: chartreuse;
    color: black;
}
